* {
    padding: 0px;
    margin: 0px;
}
body{
    background-color: lightskyblue;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: tomato;
}

.logo {
    height: 50px;
    width: 150px;
    background-color: yellowgreen;
}

.menu {
    height: 50px;
    flex-grow: 1;
    background-color: lightgrey;
}

.search {
    height: 50px;
    width: 150px;
    background-color: yellowgreen;
}

.banner {
    background-color: mediumorchid;
    height: 150px;
    flex-grow: 1;
}

.service-box {
    height: 250px;
    width: 250px;
    padding: 6px;
    background-color: midnightblue;
}


