* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: gray;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: teal;
    margin: 15px;
}
 
.logo {
    height: 100px;
    width: 200px;
    margin: 6px;
    background-color: gray;
}
.menu {
    height: 100px;
    flex-grow: 1;
    margin: 6px;
    background-color: gray;
}
.welcome {
    height: 300px;
    width: 500px;
    margin: 20px;
    background-color: gray;
}

.banner {
    height: 300px;
    flex-grow: 1;
    margin: 20px;
    background-color:tomato;
}
.service {
    height: 400px;
    flex-grow: 1;
    margin: 20px;
    background-color: gray;
}
img {
    height: 300px;
    width: 100%;
}
.footer {
    height: 150px;
    flex-grow: 1;
    margin: 20px;
    background-color: gray;
    text-align: center;
}

